/* Topbox stuff */
header {
	margin: 0 auto;
	width: 1000px;
	height: 150px;
		background-position: center;
	 	background-image: url('images/pano.JPG');
	 	background-repeat: no-repeat;
	 	background-size: 1000px 150px;
	 }
/* menu dropdown */
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.dropbox,
.dropboxlast {
	margin: 120 25 0 50;
	color: white;
	background-color: black;
	border: 2px;
	border-style: solid;
	border-color: black;
	position: relative;
	display: inline-block;
}
.dropbox-content{
	width: 170px;
	display: block;
	margin: 0 auto;
	min-width: 100%;
	color: black;
	background-color: gray;
	position: absolute;
	display: none;
	z-index: 1;
}
.dropboxlast-content {
	width: 120px;
	display: block;
	margin: 0 auto;
	min-width: 100%;
	color: black;
	background-color: gray;
	position: absolute;
	display: none;
	z-index: 1;
}
.dropbox-content a,
.dropboxlast-content a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropbox-content a:hover,
.dropboxlast-content a:hover {
	color: blue;
	font-weight: bold;
	background-color: yellow;
}
.dropbox:hover .dropbox-content,
.dropboxlast:hover .dropboxlast-content {
	display: block;
}
.dropboxlast {
	margin: 120 25 0 50;
}
.dropbtn {
	width: 200px;
	height: 75px;
	background-color: blue;
	color: white;
	padding: 0;
	margin: 0 auto;
	cursor: pointer;
	overflow: auto;
}

/* body */
body {
      width: 100%;
      height: 100%;
      border: 0;
      margin: 0 auto;
      padding: 0;
      background-color: #222d4a;
    }
/* This contains the 3 boxes and some words */
.div1 {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	overflow: auto;
	}
/* First & Second Sentence with box */
.box1 {
	height: 200px;
	width: 200px;
	margin: 5;
	padding: 5 5;
	border: 5px;
	border-style: solid;
	border-color: blue;
	overflow: auto;
	float: right;
	}	
.box1a {
	height: 75px;
	width: 75px;
	margin: 0;
	padding: 0;
	border: 10px;
	border-style: solid;
	border-color: blue;
	text-align: center;
	overflow: auto;
	}

/* index and dropmenu */		
.box2 {
	margin: 5;
	padding: 15 15;
	font-style: bold;
	border: 5px;
	border-style: solid;
	border-color: blue;
	overflow: auto;
	display: inline-block;
	}

/* Some words with lady liberty */	
.words {
	width: 350px;
	height: 250px;
	margin: 5;
	padding: 2;
	background-color: white;
	overflow: auto;
	float: left;
	}
.p {
	padding-left: 3;
	font-weight: bold;		
}
.img {
	margin: 0;
	padding: 0;
	position: static;
	float: left;
}

/*Second large box with calendar*/
.div2 {
	width: 1000px;
	margin: 2 auto;
	background-color: white;
		
}

/* index and dropmenu */		
.box2a {
	width: 150px;
	height: 100px;
	margin: 5;
	padding: 15 15;
	font-style: bold;
	border: 5px;
	border-style: solid;
	border-color: blue;
	overflow: auto;
	display: block;
	float: left;
	}
.words1 {
	width: 350px;
	height: 200px;
	margin: 5;
	padding: 2;
	border: 5px;
	border-style: solid;
	border-color: transparent;
	background-color: white;
	overflow: auto;
	display: inline-block;
	}
h5 {
	width: 150;
	height: 200;
	margin: 5;
	padding-top: 20;
	display: inline-block;
	overflow: auto;
}	
.box11 {
	height: 200px;
	width: 200px;
	margin: 5;
	padding: 5 5;
	border: 5px;
	border-style: solid;
	border-color: blue;
	display: inline-block;
	overflow: auto;
	}	
.box11a {
	height: 75px;
	width: 75px;
	margin: 0;
	padding: 0;
	border: 10px;
	border-style: solid;
	border-color: blue;
	text-align: center;
	overflow: auto;
	}
/*Calendar*/
.calendar{
	width: 400px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    background-color: black
}
.h6 {
	margin: 0;
	text-align: center;
	color: gray;
	background-color: black
}
.widget_iframe {
     width: 400px;
     height: 150px;
     margin: 0 auto;
     padding: 0;
     border: 0;
     overflow: auto;
 	}



footer {
	width: 1000px;
	height: 150px;
	margin: 0 auto;
	background-image: url('images/IMG_2488.JPG');
	background-repeat: no-repeat;
	background-size: 1000px 150px;
	}