html {
	margin: 0 auto;
}


/*SIDEBAR PAGE*/
body {
	background-color: #222d4a;
	width: 1000px;
	margin: 0 auto;
	position: relative;

}
.main {
	width: 60%;
	max-width: 590px;
	margin-top: 150;
	padding: 5;
	background-color: white;
	display: inline-block;
}

.sidebar {
	position: fixed;
	top: 178;
	width: 40%;
	max-width: 390px;
	padding: 5;
	background-color: white;
	display: inline-block;
}